<div class="p-2 text-2xl text-center font-medium text-black">Cart</div>

	<div class="grid grid-cols-3 gap-1" >
		<div class="col-start-2" *ngIf="products.length; else emptyCart">
			<!-- cart items start -->
			<div *ngFor="let product of products; let i=index;"
			class="p-2 bg-gradient-to-r from-indigo-300 via-purple-300 to-pink-300 mb-1 rounded-md">
				<div class="inline">
					{{i+1}}.{{product.name}}
					<div class="inline float-right">{{product.price | currency}}</div>
				</div>
			</div>
			<!-- cart items end -->

			<form [formGroup]="checkoutForm" (ngSubmit) = "onSubmit()"
					class="p-2 bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 mb-1 rounded-md">

				<div class="mt-10 md:flex md:items-left mb-6">
				    <div class="w-24">
				      	<label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="name">
				      		Name
				  		</label>
				    </div>
				    <div class="w-70">
				      <input name="name" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="text" >
				    </div>
				</div>
			  	<div class="md:flex md:items-left mb-6">
				    <div class="w-24">
				    	<label for="address" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">	Address
				    	</label>
				    </div>
				    <div class="w-70">
				      <input name="address" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-password" type="text">
				    </div>
				</div>

				<div class="md:flex md:items-left">
				    <div class="md:w-24"></div>
				    <div class="md:w-70">
				      <button class="shadow bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
				        Purchase
				      </button>
				    </div>
				  </div>
			</form>
		</div>

		<ng-template #emptyCart>
			<div class="col-start-2">
				<div class="p-2 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 mb-1 rounded-md text-center">
					Cart is empty
				</div>
			</div>
		</ng-template>

</div>


